@use "variables";

body {
  margin: 0;
  background-color: variables.$bg;
  color: var(--text); 
  font-size: 12px;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  align-items: center;
}

.hero h1 {
  color: red
}

ul {
  list-style-image: url("../images/sword.png")
}